<div>

<div class="header header-title">

<nav class="navbar navbar-expand-sm bg-light navbar-light header-title header-nav"   >
  <a class="navbar-brand" href="#">   <img src="assets/logo.png" alt="Aqua Star Service Logo" class="header-logo"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutUs">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blogs">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
</div>

  <router-outlet></router-outlet>


</div>
